<html>
<head>
    <title>Medicine</title>
</head>
<body>
    <h1>Medicine:</h1>


        <table align="center" width="60%">

            <tr>
                <td>
                    <form action="/search" method="get">
                        <label for="search">Search:</label>
                        <input type="text" id="search" name="search">
                        <button type="submit">Search</button>
                    </form>
                </td>
                <td></td>

            </tr>
            <tr>
                <td></td>
                <td>
                    <div>
                        <h3>Selected Items</h3>
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                        </ul>
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <button onclick="location.href='header.html'">Back</button>

                </td>
                <td>
                    <button onclick="location.href='orderType.html'">Next</button>
                </td>
            </tr>
        </table>

</body>
</html>
