
<html lang="en">
<head>
   
    <title>Order Page</title>
</head>
<body >
    <div>
        <label>Order Type:</label>
        <button type="button">Emergency</button>
        <button type="button">Normal</button>
    </div>
    <h3>Order List:</h3>
    <table border="1" align="center">
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Price/Piece</th>
                <th>Group</th>
                <th>Quantity</th>
            </tr>
        </thead>
            
            <tr>
                <td colspan="4">
                <td></td>
            </tr>
        
           
            <tr>
                <td colspan="3">Total</td>
                <td></td>
            </tr>
        
    </table>
    <button type="button">Confirm</button>
</body>
</html>
